// 工单分享页面样式
.work-order-share-page {
  &.has-top-toolbar {
    padding-top: 96rpx;
  }
  &.has-bottom-btnbar {
    padding-bottom: calc(120rpx + env(safe-area-inset-bottom));
  }
  .m-panel--card {
    &:not(:last-child) {
      margin-bottom: 16rpx;
    }
  }
  .page__bd {
    padding-bottom: 30rpx;
  }
  .m-empty--status {
    padding: 40rpx 30rpx 56rpx;
    .m-empty__txtWrap {
      margin-top: 8rpx;
    }
  }
}


// 工单详情页
.workOrder-details-page {
  .article-details--hd {
    background: #fff;
  }
  .article-details--bd {
    background: #fff;
    padding-bottom: 40rpx;
    .article-details--punchClock {
      padding-left: 0rpx;
      padding-right: 0rpx;
      padding-bottom: 0rpx;
    }
  }
  .article-details--bd2 {
    padding: 0rpx 30rpx;
    background: #fff;
    padding-bottom: 40rpx;
    margin-top: 16rpx;
  }
  .article-details--ft {
    position: relative;
    background: #fff;
    // margin-top: 16rpx;
  }
  .article-details--authorInfo {
    padding-left: 0rpx;
    padding-right: 0rpx;
    margin-bottom: 0rpx;
    .authorInfo__avatar {
      width: 70rpx;
      height: 70rpx;
    }
    .authorInfo__name {
      font-weight: normal;
    }
  }
  .workOrder-details-text {
    margin-top: 30rpx;
    font-size: 30rpx;
    color: #000000;
    line-height: 45rpx;
    .shrink-details-btn {
      color: #265CF0;
    }
  }
  // 工单详情@提醒TA看
  .workOrder-details--remind {
    padding-top: 30rpx;
  }
  // 工单详情描述列表
  .workOrder-details--infoList {
    padding-top: 30rpx;
  }
  .workOrder-details-audio-wrap {
    width: 100%;
  }
  .workOrder-details-audio {
    padding-top: 30rpx;
  }
  .workOrder-details-audio.fixed {
    position: fixed;
    top: 30rpx;
    left: 30rpx;
    right: 30rpx;
    padding-top: 0rpx;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.2s ease;
    &:before {
      content: "";
      position: absolute;
      left: -30rpx;
      top: -30rpx;
      display: block;
      width: 100vw;
      height: 190rpx;
      opacity: 0.9;
      background-image: linear-gradient(180deg, #F5F6FA 74%, rgba(245,246,250,0.00) 100%);
    }
    .components-audio {
      position: relative;
      z-index: 11;
    }
    .weui-audio {
      background: #fff;
      box-shadow: 0 2px 10px 0 rgba(102,114,144,0.20);
      padding-left: 0rpx;
      .weui-audio__icon {
        padding: 10rpx 32rpx 10rpx 20rpx;
        margin-right: 0rpx;
        image {
          width: 56rpx;
          height: 56rpx;
        }
      }
      &:after {
        display: none;
      }
    }
  }
  // 工单处理人
  .workOrder-details-handler {
    display: flex;
    align-items: center;
    // padding-bottom: 30rpx;
    .handler-person {
      padding-top: 30rpx;
      // padding-bottom: 10rpx;
      font-size: 26rpx;
      color: #999999;
      display: flex;
      align-items: center;
    }
    .see-text-btn {
      padding-top: 30rpx;
      // padding-bottom: 10rpx;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      margin-left: auto;
      font-size: 28rpx;
      color: #265CF0;
      .iconfont2 {
        font-size: 32rpx;
        color: #265CF0;
        margin-right: 8rpx;
      }
    }
  }
  // 工单听音评论区域
  .workOrderListen-share-inputWrap {
    flex: 1;
    .workOrderListen-share-input {
      height: 88rpx;
      font-size: 32rpx;
      color: #000000;
      // font-weight: bold;
    }
  }
  .workOrderListen-opinion {
    position: relative;
    .m-panel--card .m-panel__title {
      flex: unset;
      flex-shrink: 0;
      font-weight: normal;
    }
    .m-panel--card .m-panel__arowTxt {
      margin-left: auto;
      @include ellipsis-lines($lines: 1);
    }
  }
  .workOrderListen-opinion__content {
    padding: 8rpx 20rpx 30rpx;
  }
  .workOrderListen-opinion--textarea,.hide-element {
    width: 690rpx;
    height: 266rpx;
    font-size: 30rpx;
    color: #333333;
    padding: 20rpx 10rpx;
    box-sizing: border-box;
  }
  .workOrderListen-opinion--textarea {
    line-height: 36rpx;
    padding-bottom: 0rpx;
    letter-spacing: 0rpx;
    // text-align: justify;
    &.textarea__ios_bug {
      padding: 0rpx;
    }
  }
  .hide-element {
    line-height: 36rpx;
    letter-spacing: 0rpx;
    text-align: left;
    word-wrap: break-word;
    word-break: normal;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
    &.textarea__ios_bug {
      padding-left: 8rpx;
    }
  }
  .workOrderListen-opinion--btn {
    margin-top: 30rpx;
    padding: 0rpx 10rpx;
    display: flex;
    .m-btn--normal {
      flex: 1;
    }
  }
}


// 顶部状态栏模块
.workOrderListen-progress--hd {
  display: flex;
  .workOrderListen-progress--title {
    position: relative;
    padding: 16rpx 30rpx;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    font-size: 28rpx;
    color: #666666;
    &:after {
      @include setBottomLine($c: #e5e5e6);
      left: 30rpx;
      right: 30rpx;
    }
    .iconfont2 {
      font-size: 28rpx;
      color: #265CF0;
      margin-right: 8rpx;
    }
  }
}

// 点击查看文本,弹出的查看工单语音文本
.m-workOrderVoice--alert {
  position: relative;
  padding-top: 146rpx;
  padding-bottom: calc(100rpx + env(safe-area-inset-bottom));
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  box-sizing: border-box;
  background: #F5F6FA;
  transition: bottom 0.2s ease;
  bottom: 0;
}
.modal-is-hide {
  .m-workOrderVoice--alert {
    bottom: -100vh;
  }
}

// 选择表扬/提建议 弹窗
.choose-opinion {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 0rpx;
  left: 0rpx;
  background: #fff;
  border-radius: 32rpx 32rpx 0 0;
  transition: all 0.3s ease;
  transform: translateY(0%);
  padding-bottom: env(safe-area-inset-bottom);
  .choose-opinion-top {
    flex-shrink: 0;
    padding: 0rpx 30rpx;
    background: #fff;
    height: 100rpx;
    line-height: 100rpx;
    position: relative;
    border-radius: 10px 10px 0 0;
    &:after {
      @include setBottomLine($c: #e5e5e6);
    }
    .choose-opinion-title {
      font-size: 32rpx;
      color: #000000;
      font-weight: bold;
    }
    .close-btn-wrap {
      position: absolute;
      right: 0rpx;
      top: 0rpx;
      width: 100rpx;
      height: 100rpx;
      text-align: center;
      z-index: 1;
      .iconfont2 {
        font-size: 28rpx;
        color: #999;
        line-height: 100rpx;
      }
    }
  }
  .choose-opinion-content {
    position: relative;
    background: #fff;
  }
  .choose-opinion-btnWrap {
    display: flex;
    align-items: center;
  }
  .choose-opinion-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60rpx 0rpx 90rpx;
  }
  .choose-opinion-image {
    width: 200rpx;
    height: 200rpx;
    &:active {
      opacity: 0.6;
    }
  }
  .choose-opinion-itemDesc {
    font-size: 30rpx;
    color: #000000;
  }
}
.modal-is-hide .choose-opinion {
  transform: translateY(100%);
}

.workOrder-title {
  display: flex;
  align-items: center;
  padding: 20rpx 0rpx;
  font-weight: normal;
  .iconfont2 {
    color: #265CF0;
    font-size: 28rpx;
    margin-right: 8rpx;
  }
  .txt {
    font-size: 28rpx;
    color: #333333;
  }
}
// 分享工单数据列表页面
.workOrderList-page {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  .workOrderList-tabBar {
    position: fixed;
    top: 0rpx;
    left: 0rpx;
    right: 0rpx;
    z-index: 9;
  }
  .page__bd {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
    
  .m-tabBarScroll {
    .m-tabBarScroll--list {
      width: 100%;
    }
    .m-tabBarScroll__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
    }
  }
  .workOrderList--list {
    // margin-top: 16rpx;
    flex: 1;
    width: 100%;
    position: relative;
    white-space: nowrap;
  }
  .workOrderList__item {
    padding-top: calc(88rpx + 16rpx);
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    white-space: normal;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
  }
  .m-empty--status {
    padding-top: 303rpx;
    background: #F5F6FA;
    .m-empty__image {
      width: 210rpx;
      height: 210rpx;
    }
    .m-empty__btnWrap {
      margin-top: 30rpx;
    }
    .m-btn--round {
      padding: 0rpx 40rpx;
      line-height: 64rpx;
      font-size: 28rpx;
      &.deauful {
        background: transparent;
      }
    }
  }
  .m-panel--card .m-panel__hd {
    &::after {
      left: 30rpx;
      right: 30rpx;
    }
  }
  .cancel-collect {
    left: 0rpx;
    top: unset;
    bottom: 150rpx;
    .cancel-collect--content {
      width: calc(100vw - 40rpx);
      left: -10rpx;
    }
    .cancel-collect-arrow {
      top: unset;
      bottom: -6rpx;
      right: 24rpx;
    }
  }

  .msg-dynamics--noMore {
    background: #F5F6FA;
  }
}


// 指引层样式
.m-guide-item {
  z-index: 999999!important;
}
// 工单听音指引弹窗
.workOrderListen-guide {
  position: fixed;
  left: 0rpx;
  right: 0rpx;
  top: 0rpx;
  bottom: 0rpx;
  .make-sure-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    .m-btn--round {
      padding: 0rpx 52rpx 0rpx 52rpx;
      height: 64rpx;
      line-height: 64rpx;
      display: flex;
      align-items: center;
      font-size: 32rpx;
      color: #fff;
      background: transparent;
      &:after {
        border-color: #fff;
      }
    }
  }
}
.wd-guide01 {
  .guide01-item {
    position: absolute;
    width: 100%;
    bottom: calc(80rpx + env(safe-area-inset-bottom));
    text-align: center;
    .guide-image {
      position: absolute;
      right: 52rpx;
      bottom: 0rpx;
      width: 147rpx;
      height: 218rpx;
    }
  }
  .guide-txt {
    font-size: 30rpx;
    color: #fff;
    line-height: 48rpx;
  }
  .make-sure-btn {
    margin-top: 30rpx;
    margin-bottom: 100rpx;
  }
  .m-btn--normal {
    &.m-guide-item {
      position: absolute;
      bottom: calc(20rpx + env(safe-area-inset-bottom));
      right: 30rpx;
      width: 330rpx;
      height: 80rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28rpx;
    }
  }
}
.wd-guide02 {
  position: absolute;
  left: 0rpx;
  top: 0rpx;
  width: 100%;
  transform: translateY(-100%);
  .guide02-item {
    position: relative;
    width: 364rpx;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 80rpx;
  }
  .guide-txt {
    font-size: 30rpx;
    color: #fff;
    line-height: 48rpx;
  }
  .make-sure-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30rpx;
    .m-btn--round {
      padding: 0rpx 52rpx 0rpx 52rpx;
      height: 64rpx;
      line-height: 64rpx;
      display: flex;
      align-items: center;
      font-size: 32rpx;
      color: #fff;
      background: transparent;
      &:after {
        border-color: #fff;
      }
    }
  }
  .guide-image {
    position: absolute;
    left: -143rpx;
    bottom: 0rpx;
    width: 127rpx;
    height: 250rpx;
  }
}