// 顶部栏样式
@import "../base/mixin.scss";


// 通用的顶部悬浮条组件
.m-topBar--default {
  position: relative;
  padding: 20rpx 30rpx;
  background: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 4rpx 8rpx 0 rgba(0,0,0,0.08);
  .m-topBar__content {
    flex: 1;
  }
  .m-topBar--descTxt {
    font-size: 28rpx;
    color: #999999;
    line-height: 42rpx;
  }
  .m-topBar__right {
    flex-shrink: 0;
  }
}