page {
    height: 100%;
}
// 首页
.page-index {
    min-height:100%;
    overflow-x: hidden;
    background-color: #F5F6FA;
    position:relative;
    // 首页flex布局
    &.home-page-index {
        display: flex;
        flex-direction: column;
        .page__hd,.page__ft {
            flex-shrink: 0;
        }
        .page__bd {
            flex: 1;
        }
    }
    // 头部
    .page__hd {
        .p-info {
            height: 33px;
            line-height: 33px;
            font-size: 12px;
            color: #FA7D00;
            text-align: center;
            background: #FFF7F0;
            .info-text {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;
                word-wrap: normal;
            }
        }
        // 选择业务类型
        .p-info.list-type {
            color: #000;
            height: 44px;
            line-height: 44px;
            margin-bottom: 8px;
            font-size: 14px;
            .info-text{
                display: flex;
                height: 44px;
                align-items: center;
                justify-content: center;
                position: fixed;
                width: 100%;
                background: #fff;
                z-index: 111;
                .iconfont-315,.iconfont2 {
                    font-size: 14px;
                    color: #265CF0;
                    margin-right: 6px;
                    // transition: all 0.3s ease;
                    // &.is-open {
                    //     transform: rotate(-180deg);
                    // }
                }
            }
        }

    }

    // 内容
    .page__bd {
        background-color: #F1F3F7;
        // 新闻风险、投诉、方式、影响用户展示
        .news-item {
            position: relative;
            padding: 15px;
            // margin: 0px 15px;
            height: 100px;
            box-sizing: border-box;
            &:not(:last-child){
                &:after {
                    content: "";
                    box-sizing: border-box;
                    width: 100%;
                    height: 2rpx;
                    border-bottom: 2rpx solid #DBDDE6;
                    position: absolute;
                    bottom: 0rpx;
                    left: 30rpx;
                    transform-origin: 0 100%;
                    transform: scaleY(0.5);
                }
            }
            .title-wrap {
                position: relative;
                height: 50px;
                font-size: 0px;
                color: #000000;
                .news-icon {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    display: block;
                    width: 50px;
                    height: 50px;
                    box-sizing: border-box;
                    border-radius: 10px;
                    &.has-border {
                        &:after {
                            border-radius: 20px;
                            content: "";
                            box-sizing: border-box;
                            width: 200%;
                            height: 200%;
                            border: 2rpx solid #DBDDE6;
                            position: absolute;
                            left: 0rpx;
                            top: 0rpx;
                            transform-origin: left top;
                            transform: scale(0.5);
                        }
                    }
                }
                .title-txt {
                    padding-left: 60px;
                    line-height: 22px;
                    font-weight: bold;
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
            .tag-wrap {
                display: block;
                font-size: 0px;
                position: relative;
                margin-top: 2px;
                height: 18px;
                .desc {
                    display: inline-block;
                    vertical-align: middle;
                    width: 51px;
                    font-size: 10px;
                    font-weight: bold;
                    color: #888888;
                    text-align: center;
                    padding-right: 9px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    word-wrap: normal;
                }
                .tag-item {
                    position: relative;
                    display: inline-block;
                    font-size: 0px;
                    vertical-align: middle;
                    .item {
                        position: relative;
                        display: inline-block;
                        height: 18px;
                        line-height: 18px;
                        box-sizing: border-box;
                        padding: 0px 4px;
                        font-size: 11px;
                        color: #265CF0;
                        &:after {
                            border-radius: 4px;
                            content: "";
                            box-sizing: border-box;
                            width: 200%;
                            height: 200%;
                            border: 2rpx solid #265CF0;
                            position: absolute;
                            left: 0rpx;
                            top: 0rpx;
                            transform-origin: left top;
                            transform: scale(0.5);
                        }
                        &.red {
                            color: #ED4343;
                            &:after {
                                border-color: #ED4343;
                            }
                        }
                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                    }
                }
                .iconfont-315 {
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 14px;
                    color: #999;
                    margin-top: 1px;
                    &.processed {
                        color: #999;
                    }
                    &.processing {
                        color: #265CF0;
                    }
                }
                // 处理中标签
                .in-process {
                    position: absolute;
                    right: 18px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 13px;
                    color: #999;
                    // border-radius: 2px;
                    // background: #f4f5fd;
                    &.processed {
                        color: #999;
                    }
                    &.processing {
                        color: #265CF0;
                    }
                }
            }
            // 关注
            .attention {
                position: absolute;
                right: 0px;
                top: -1rpx;
                display: block;
                width: 28px;
                height: 28px;
            }
        }
        .floor {
            background-color: #ffffff;
            &:not(:first-child) {
                margin-top: 8px;
            }

            // 与我相关 我的已读
            .related {
                position: relative;
                padding: 15px 0px;
                .related-wrap {
                    position: relative;
                    padding: 0px 15px;
                    // padding-bottom: 15px;
                    .tip {
                        position: absolute;
                        left: 15px;
                        top: 0;
                        width: 35px;
                        height: 36px;
                        font-size: 0px;
                        .image {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                        &:after {
                          content: "";
                          box-sizing: border-box;
                          width: 2rpx;
                          height: 84rpx;
                          border-right: 2rpx solid #E5E5E6;
                          position: absolute;
                          top: 50%;
                          left: 100rpx;
                          transform-origin: 0 100%;
                          transform: scaleX(0.5) translateY(-50%);
                        }
                    }
                    .info {
                        display: block;
                        margin-left: 65px;
                        font-size: 0px;
                        min-height: 42px;
                        .txt {
                            display: inline-block;
                            font-size: 15px;
                            line-height: 21px;
                            color: #222;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
                .more-wrap {
                    margin-top: 15px;
                    padding: 15px 15px 0px 15px;
                    position: relative;
                    &:after {
                        content: "";
                        box-sizing: border-box;
                        width: 100%;
                        height: 2rpx;
                        border-bottom: 2rpx solid #DBDDE6;
                        position: absolute;
                        top: 0rpx;
                        left: 30rpx;
                        transform-origin: 0 100%;
                        transform: scaleY(0.5);
                    }
                }
            }

            // 查看更多
            .more-wrap {
                color: #265CF0;
                font-size: 14px;
                padding-top: 15px;
                text-align: center;
                .more {
                    display: inline-block;
                    vertical-align: middle;
                    .iconfont-315 {
                        color: #265CF0;
                        font-size: 12px;
                        vertical-align: 0rpx;
                    }
                }
            }
            
            // 分类数据
            .news-type {
                // padding: 15px;
                padding-bottom: 15px;
                .more-wrap {
                    position: relative;
                    &:after {
                        content: "";
                        box-sizing: border-box;
                        width: 100%;
                        height: 1px;
                        border-bottom: 1px solid #DBDDE6;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        transform-origin: 0 100%;
                        transform: scaleY(0.5);
                    }
                }
                // 切换页卡
                .news-type-card {
                    display: flex;
                    .m-learn--status {
                        width: 100%;
                    }
                    .card {
                        position: relative;
                        flex-grow: 1;
                        font-size: 12px;
                        color: #444;
                        text-align: center;
                        padding: 10px 0px;
                        .name,.value {
                            display: block;
                        }
                        .name {
                            line-height: 16px;
                        }
                        .value {
                            color: #0033CC;
                            line-height: 20px;
                            font-size: 15px;
                            margin-top: 1px;
                            font-weight: bolder;
                        }
                        &:not(:last-child):after {
                            content: "";
                            width: 2rpx;
                            height: 72px;
                            border-right: 2rpx solid #DBDDE6;
                            box-sizing: border-box;
                            position: absolute;
                            right: 0px;
                            top: 50%;
                            transform-origin: left top;
                            transform: scaleY(0.5) translateY(-50%);
                        }
                    }
                }
                // 分类数据显示
                .news-type-data {
                    position: relative;
                    padding: 10px 0px;
                    display: flex;
                    align-items: center;
                    &:after {
                        border-radius: 8px;
                        content: "";
                        box-sizing: border-box;
                        height: 1px;
                        border-top: 1px solid #E5E5E6;
                        position: absolute;
                        left: 15px;
                        right: 15px;
                        top: 0px;
                        transform-origin: left top;
                        transform: scaleY(0.5);
                    }
                    .data-chart {
                        width: 50%;
                        height: 125px;
                        box-sizing: border-box;
                        padding: 0px 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .chart-wrap {
                            position: relative;
                            width: 120px;
                            height: 120px;
                            font-size: 0px;
                            .chart {
                                position: relative;
                                width: 100%;
                                height: 100%;
                            }
                            .image-chart {
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                .image {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .cover-view {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translateX(-50%) translateY(-50%);
                                font-size: 0px;
                                text-align: center;
                                color: #000;
                                line-height: 1.2;
                                margin-top:4px;
                                .name {
                                    color: #999;
                                    font-size: 13px;
                                    line-height: 1.2;
                                    // font-weight: bold;
                                }
                                .value {
                                    line-height: 1.2;
                                    vertical-align: middle;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    .number {
                                        display: inline-flex;
                                        line-height: 1.2;
                                        font-size: 20px;
                                        font-weight: bold;
                                        padding-right: 6rpx;
                                    }
                                    .txt {
                                        display: inline-flex;
                                        line-height: 1.2;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                    .data-list {
                        width: 50%;
                        box-sizing: border-box;
                        padding: 0px 10px;
                        .list-item {
                            display: block;
                            width: 100%;
                            box-sizing: border-box;
                            position: relative;
                            height: 20px;
                            line-height: 20px;
                            font-size: 0px;
                            color: #333;
                            border-radius: 3px;
                            padding: 0px 52px 0px 23px;
                            &:not(:last-child) {
                                margin-bottom: 6px;
                            }
                            .name {
                                display: inline-block;
                                width: 65px;
                                font-size: 13px;
                                color: #999;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                word-break: break-all;
                                word-wrap: normal;
                            }
                            .value {
                                position: absolute;
                                top: 0px;
                                right: 12px;
                                display: block;
                                width: 42px;
                                font-size: 13px;
                                font-weight: bold;
                                text-align: right;
                            }
                            .square {
                                display: block;
                                position: absolute;
                                top: 50%;
                                left: 5px;
                                transform: translateY(-50%);
                                width: 4px;
                                height: 4px;
                                background: #80A2FF;
                                border-radius: 50%;
                            }
                        }
                    }
                }
                // 新闻分类列表
                .news-type-list {
                    .list-item {
                        position: relative;
                        font-size: 0px;
                        background-color: #f5f7fc;
                        line-height: 20px;
                        margin-bottom: 5px;
                        padding: 10px 6px 10px 50px;
                        border-radius: 2px;
                        overflow: hidden;
                        .content {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 12px;
                            color: #666666;
                            .arrow {
                                top: 2px;
                            }
                        }
                        .tip {
                            display: flex;
                            width: 40px;
                            line-height: 17px;
                            padding-right: 6px;
                            font-size: 12px;
                            position: absolute;
                            left: -10px;
                            color: #2c58f5;
                            z-index: 0;
                            justify-content: flex-end;
                            &:after {
                                display: block;
                                content: "";
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                width: 100%;
                                height: 100%;
                                background-color: #d7e0fc;
                                transform: skew(-12deg);
                                z-index: -1;
                            }
                        }
                    }
                    .btn-wrap {
                        color: #2c58f6;
                        font-size: 12px;
                        padding-top: 10px;
                        text-align: center;
                        .more {
                            .arrow {
                                color: #2c58f6;
                                top: 2px;
                            }
                        }
                    }
                }
            }
            // 历史回顾
            .history {
                .history-titile {
                    position: relative;
                    height: 44px;
                    line-height: 44px;
                    // border-bottom: 1rpx solid #D8D8D8;
                    // &:before {
                    //     display: block;
                    //     content: "";
                    //     width: 3px;
                    //     height: 15px;
                    //     position: absolute;
                    //     background-color: #0e36c4;
                    //     left: 15px;
                    //     top: 50%;
                    //     transform: translateY(-50%);
                    // }
                    &:after {
                        content: "";
                        box-sizing: border-box;
                        width: 100%;
                        height: 2rpx;
                        border-bottom: 2rpx solid #DBDDE6;
                        position: absolute;
                        bottom: 0rpx;
                        left: 0rpx;
                        transform-origin: 0 100%;
                        transform: scaleY(0.5);
                    }
                    .titile {
                        display: inline-block;
                        height: 44px;
                        line-height: 44px;
                        color: #000;
                        font-size: 16px;
                        font-weight: bold;
                        margin-left: 15px;
                    }
                    .more {
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                        display: block;
                        color: #265CF0;
                        font-size: 14px;
                    }
                    .more-arrow {
                        .iconfont-315 {
                            position: absolute;
                            right: 15px;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 14px;
                            color: #888;
                        }
                    }
                }
                .history-list {
                    padding: 0px 0px 0px 15px;
                    .list-item-wrap {
                        position: relative;
                        padding-right: 15px;
                        &:not(:last-child) {
                            &:after {
                                content: "";
                                box-sizing: border-box;
                                width: 100%;
                                height: 2rpx;
                                border-bottom: 2rpx solid #DBDDE6;
                                position: absolute;
                                bottom: 0rpx;
                                left: 0rpx;
                                transform-origin: 0 100%;
                                transform: scaleY(0.5);
                            }
                        }
                    }
                    .list-item {
                        position: relative;
                        padding: 0px 24px 0px 0px;
                        font-size: 0px;
                        display: flex;
                        align-items: center;
                        .txt {
                            flex-grow: 1;
                            font-size: 15px;
                            line-height: 44px;
                            color: #222;
                            vertical-align: middle;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            word-break: break-all;
                            word-wrap: normal;
                        }
                        .iconfont-315 {
                            position: absolute;
                            right: 0px;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 14px;
                            color: #888;
                        }
                    }
                }
            }

        }
    }

    // 文章列表页-暂无更多内容
    .no-more-txt {
        background-color: #F1F3F7;
        padding: 15px 0px;
        line-height: 15px;
        text-align: center;
        font-size: 11px;
        color: #A1A5B3;
    }

    // 底部
    .page__ft {
        background-color: #F1F3F7;
        padding: 15px 0px;
        .icon {
            margin-bottom: 5px;
            text-align: center;
            font-size: 0px;
            .image {
                display: inline-block;
                width: 62px;
                height: 14px;
            }
        }
        .copyright {
            line-height: 14px;
            margin-top: 4px;
            text-align: center;
            font-size: 10px;
            color: #A1A5B3;
        }
        .footer {
            height: auto;
            .copyright {
                color: #ccc;
                margin-top: 0rpx;
                margin-bottom: 0rpx;
            }
        }
    }

    // 文章列表页-文章列表为空
    .empty-content {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        color: #A1A5B3;
        text-align: center;
        background-color: #F5F6FA;
        padding-top: 100px;
        // border-top: 1px solid #DBDDE6;
        .empty-icon {
            margin: 0 auto;
            width: 150px;
            height: 150px;
            .image {
                display: inline-block;
                width: 100%;
                height: 100%;
            }
        }
        .empty-txt {
            margin-top:  8px;
            color: #000;
            font-size: 14px;
        }
    }
    // 列表页
    &.list {
        .page__bd {
            display: flex;
            flex-direction: column;
            height: calc( 100% - 33px );
            .flex-wrap {
                flex-grow: 1;
                .news-list {
                    background-color: #ffffff;
                }
            }
        }
        &.no-hd {
            .page__bd {
                height: 100%;
            }
        }
    }
    
    // 历史列表页
    &.history-list {
        .page__bd {
            display: flex;
            flex-direction: column;
            height: 100%;
            .flex-wrap {
                flex-grow: 1;
                .history-news-list {
                    background-color: #ffffff;
                }
            }
        }
        .history-news-item {
            position: relative;
            display: flex;
            padding: 15px 0px;
            margin: 0px 15px;
            &:not(:last-child){
                &:after {
                    content: "";
                    box-sizing: border-box;
                    width: 100%;
                    height: 2rpx;
                    border-bottom: 2rpx solid #DBDDE6;
                    position: absolute;
                    bottom: 0rpx;
                    left: 0rpx;
                    transform-origin: 0 100%;
                    transform: scaleY(0.5);
                }
            }
            .left-wrap {
                flex-grow: 1;
                .list-title {
                    font-size: 0px;
                    .title-txt {
                        display: inline-block;
                        padding-right: 10px;
                        line-height: 51rpx;
                        height: 102rpx;
                        font-size: 16px;
                        color: #000;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        // display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
                .list-info {
                    display: block;
                    position: absolute;
                    bottom: 15px;
                    left: 0px;
                    font-size: 0px;
                    .date {
                        font-size: 13px;
                        line-height: 1;
                        color: #888;
                    }
                }
            }

            .right-wrap {
                .list-img {
                    display: block;
                    width: 110px;
                    height: 77px;
                    position: relative;
                    border-radius: 2px;
                    &:after {
                        border-radius: 4px;
                        content: "";
                        box-sizing: border-box;
                        width: 200%;
                        height: 200%;
                        border: 2rpx solid #DBDDE6;
                        position: absolute;
                        left: 0rpx;
                        top: 0rpx;
                        transform-origin: left top;
                        transform: scale(0.5);
                    }
                }
            }
        }
    }
}

// 文章列表页特别样式
.list .page__bd .news-item .title-wrap .title-txt {
    font-weight: normal;
}
